* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}
html{
    background: url("../img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position: 120% -20%;
    text-align: center;
}

header{
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logotipo{
    display: flex;
    justify-content: center;
}

header p{
    color: #242D52;
}

h1 {
    position: static;
    text-align: center;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: -0.035em;
    color: #232C50;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.arriba{
    display: flex;
    flex-direction: column-reverse;
    justify-content:space-between;
}

.medio{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:space-around;
}
#subtitulomedio{
    width: 100%;
    font-weight: 700;
    font-size: 36px;
    line-height: 114.6%;
    color: #232851;
    margin: 36px 0px;

}

.subtitulo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

p{
    color: #B3B2B7;
    letter-spacing: -0.01em;
    line-height: 26px;
}

button{
    width: 134px;
    height: 44px;
    left: 1140.54px;
    top: 65px;
    background: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    color: #fff;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 0.25rem 0.45rem rgba(243, 96, 59, 0.5);
}
.contadorcontainer{
    display: flex;
    flex-direction: column;  
    position: relative;
    bottom: 5rem;  
}
.listas{
    display: flex;   
}
.contador{
    position: relative;
    bottom: -6rem;   
}
.contador3{
    position: relative;
    bottom: -5.2rem;
}
.botonesimg{
    margin: auto;
    position: relative;
    right: -2rem;
    z-index: 9;
}
h3{
    color: #323851;
}
h3.subtitulitos{

    display: flex;
    color: #323851;
    background-color: rgb(255, 239, 234);
    font-weight: 700;
    font-size: 16px;
    line-height: 23px; 
    letter-spacing: -0.025em;
    width: 70px;
    height: 43px;
    align-items: center;
    padding-left:35px;
    width: 100%;  
}

.textito{
    margin-top: 17px;
    margin-bottom:40px ;
    text-align: left;
    padding-left:-6rem;
    width: 100%;
}
.abajo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;

}

.subtituloabajo{
    color: #242E53;
    font-size: 39.2143px;
}
.naranja{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 350px;
    width: 100%;
    background-color:#F3613C;
    color: #fff;
}
.texto{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.naranja .botonblanco{
    background-color: #FFFFFF;
    color: #F3603B;
    margin-top: 20px;
}
.botonblanco:hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 0.25rem 0.45rem rgba(243, 96, 59, 0.5);
    color: #f98f75;
}

.containerabajo {
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
    gap: 1rem;
    display: flex;
    width: 100%;
    overflow-x: scroll; /*slice*/
    scroll-snap-type: x mandatory; /*slide*/
    border-radius: 15%;
  }
  
 .containerabajo .perfiles{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      scroll-snap-align: center; 
      min-width: 100%;
      background-color: #FAFAFA;
      padding: 0 2rem 2rem;
  }
 button.go{
    width: 84px;
    height: 40px;
    left: 1140.54px;
    top: 65px;
    background: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    color: #fff;
 }
  .radio {
      width: 50px;
  }
  .radio input{
      appearance: none;
  }
  .menu {
      display:none;
  }
  .footer{
    color:white;
    display: flex;
    flex-direction: column;
    
}

#footercontainer{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    position: absolute;
    width: 100%;
    height: 470px;
    background-color: #1E1E26;

}
  .navcontainer{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 350px;
      align-self: center; 
      margin:0.6rem;
  }
  .futer{
      display: flex;
      justify-content: flex-start;
  }
  .futer ul{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: flex-start;
  }
  li.footer{
      margin-top: 1rem;
  }
  .iconos{
      display: flex;
      justify-content: space-around;
  }
  .formulario{
    width: 280px;
    height: 44px;  
    border-radius: 23px;
    padding: 20px;
  }
  .grisoscuro{
    color: #8C8C94;
  }
  .icono{
    width: 30px;
    height: 30px;
  }
  img{
    max-width: 100%;
    height: auto;
  }
   a{
    text-decoration: none;
  }
  nav.futer ul a :hover{
      color: #F3603B;
  }
  #youtube :hover{
      color:#F3603B
      tran
  }
  
  @media screen and (min-width:740px) {
    nav{
        display: flex;
        align-items: center;
    }
    ul{
        display: flex;
        align-items: center;
        color:#242E52 ;
    }
    li{
        margin-right: 1rem;
        list-style: none;
        color: #242E52;
    }
    .menu{
        display:flex;
        color:#242E52;
        
      }
    .hamburguesa{
     display:none
    }
    #header{
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        align-items: center;
        padding: 5rem;
    }
    .arriba{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        margin: 110px;
        text-align: left;
    }
    .medio{
        display: flex;
        flex-direction:row;
        justify-content:center;
        align-items:flex-start;
        margin-left: 110px;
        margin-right: 110px;
        text-align: left;
    }
    .subtitulo{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: 200px;
        
    }
    #subtitulomedio{
        width: 100%;
        font-weight: 700;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 36px;
        color: #232851;
        text-align: left;  
    }
    .medioizq{
        width: 1200px;
    }
    h3.subtitulitos{
        display: flex;
        color: #323851;
        align-items: center;
        padding-left:35px;
        width: 100%;  
        background-color: white;
    }
    span.contadores{
        padding:7px 19px;
        left: 1140.54px;
        top: 65px;
        background: #F3603B;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        border: none;
        color: #fff;
    }
    .naranja{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        height: 250px;
        width: 100%;
        background-color:#F3613C;
        color: #fff;
        text-align: left;  
    }
    .footer{
        color:white;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .iconos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content:space-around;
    }
    .iconocontainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .icono{
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    #Pricing:hover{
        opacity: 0.7;
    }
    
    #Product:hover{
        opacity: 0.7;
    }
    
    #AboutUs:hover{
        opacity: 0.7;
    }
    
    #Careers:hover{
        opacity: 0.7;
    }
    
    #Community:hover{
        opacity: 0.7;
    }
    .contadorcontainer{ 
        position: relative;
        bottom: 5rem;  
    }
    .listas{
        display: flex;   
    }
    .contador{
        position: relative;
        bottom: -5rem;   
    }

    #Pricing{
        color:#242E52
    }
    #Product{
        color:#242E52
    }
    #AboutUs{
        color:#242E52
    }
    #Careers{
        color:#242E52
    }
    #Community{
        color:#242E52
    }
} 